<div class="container">
  <div class="row">
    <div class="col-12 col-lg-9 order-lg-2">
      <div class="h2 col-12 mt-3">フォロー一覧</div>
      <div class="table table-borderless table-hover text-center mt-5 offset-2 col-8">
        <table>
          <thead class="thead-dark">
            <tr>
              <th class="col-5">名前</th>
              <th class="col-3">投稿数</th>
              <th class="col-4"></th>
            </tr>
          </thead>
          <tbody class="bg-light">
            <% @followed.each do |f| %>
            <tr>
              <td><%= f.name %></td>
              <td>( <%= f.foods.count %> )</td>
              <td><%= link_to ">>", foods_path(id: :followed, user: f.id) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <%= render partial: '/public/homes/side_bar' %>
  </div>
</div>