<div class="container">
  <div class="row">
    <div class="h2 col-12">一覧画面</div>
    <% @food_names.each do |name| %>
      <div class="h5 mt-3 food_name">【食品名】<%= name.name %></div>
      <% @foods.each do |food| %>
        <% if food.food_name == name %>
        <%= render partial: 'public/foods/food', locals:{ food: food } %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<%= link_to "お気に入り", foods_path(id: :favorite) %>