<div class="container">
  <div class="row">
    <div class="col-3 mt-5">
      <%= render partial: '/public/homes/side_bar' %>
    </div>

    <div class="col-9">
      <div class="h2 col-12 mt-3">一覧画面</div>
      <% @food_names.each do |name| %>
        <%= render partial: 'public/food_names/food_name', locals:{ food_name: name } %>
        <% @foods.each do |food| %>
          <% if food.food_name == name %>
            <%= render partial: 'public/foods/food', locals:{ food: food } %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>