<div class="container">
  <div class="row">
    <h2>一覧画面</h2>
    <% @foods.each do |food| %>
    <%= render partial: 'public/foods/food', locals:{ food: food } %>
    <% end %>
  </div>
</div>

<%#= food.food_name.name %>