<div class="side_bar">
  <% Genre.all.each do |genre| %>
    <%= genre.name %><br>
    <% FoodName.where(id: genre.genre_food_names.select(:id).distinct).each do |name| %>
      <div class="ml-2 small"><%= name.name %>( <%= name.foods.count %> )<br></div> <%# link_to name->search %>
    <% end %>
  <% end %>
</div>