<div class="container">
  <div class="row">
    <h2>ジャンル編集</h2>

    <div class="form">
      <%= form_with model: @genre, url: admin_genre_path(@genre) do |f| %>
        <%= f.text_field :name %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>