<div class="container">
  <div class="row">
    <h2>ジャンル設定</h2>

    <table class="table">
      <thead>
        <tr>
          <th>ジャンル一覧</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @genres.each do |g| %>
        <tr>
          <td><%= g.name %></td>
          <td><%= link_to '編集', edit_admin_genre_path(g) %></td>
          <td><%= link_to '削除', admin_genre_path(g), method: :delete %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <%= render partial: 'admin/genres/genre_create', locals:{ genre: @genre } %>

  </div>
</div>