<div class="container">
  <div class="row">
    <h2>検索結果(全<%= @search_count %>件)</h2>
    <% if params[:id] == ("name" || "compound") %>
      <% @search.each do |search| %>
        <% @search_foods = search.foods %>
        <% @search_foods.each do |food| %>
        <%= render partial: 'public/foods/food', locals:{ food: food } %>
        <% end %>
      <% end %>
    <% else %>
      <% @search_foods.each do |food| %>
        <%= render partial: 'public/foods/food', locals:{ food: food } %>
      <% end %>
    <% end %>
  </div>
</div>