<div class="container">
  <div class="row">
    <div class="col-3 mt-5">
      <%= render partial: '/public/homes/side_bar' %>
    </div>

    <div class="col-9">
      <div class="h2 col-12 mt-3">詳細画面</div>
        <div class="pb-3"><%= render partial: 'public/food_names/food_name', locals:{ food_name: @food_name } %></div>
        <% @foods.each do |food| %>
          <%= render partial: 'public/foods/food', locals:{ food: food } %>
        <% end %>
    </div>
  </div>
</div>